:root {
    --primary-color: #1d428a;
    --secondary-color: #c8102e;
    --font-title: 'Oswald', sans-serif;
    --font-body: 'Montserrat', sans-serif;
}

body {
    
    font-family: var(--font-body);
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 80px 20px;
    border-bottom: 15px solid var(--secondary-color);
}

header h1 { font-family: var(--font-title); font-size: 4.5rem; margin: 0; }

/* 2. Layout Grid de 6 columnas  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 20px;
}

/* Traslape Artístico: Cuadro Rojo sobre el bloque del Estadio */
.datos-clave {
    grid-column: 2 / 6; /* Centrado */
    grid-row: 1;
    background: var(--secondary-color);
    color: white;
    padding: 30px;
    z-index: 10;
    margin-bottom: -40px; /* Pisa al bloque de abajo  */
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.seccion-estadio {
    grid-column: 1 / 7;
    grid-row: 2;
    background: var(--primary-color);
    color: white;
    padding: 80px 40px 40px;
    border-radius: 8px;
}

.seccion-blanca {
    grid-column: 1 / 7;
    background: white;
    padding: 50px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.img-grande { width: 100%; border-radius: 5px; margin: 20px 0; }

/* Estilos de Video y Guía */
.video-wrapper { position: relative; margin-bottom: 30px; }
.video-wrapper img { width: 100%; border-radius: 8px; }

.play-btn {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    color: white;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 50px;
    border: 3px solid white;
}

.guia-momentos {
    text-align: left;
    background: #f9f9f9;
    padding: 20px;
    border-left: 5px solid var(--primary-color);
}

.guia-momentos ul { list-style: none; padding: 0; }
.guia-momentos li { margin-bottom: 10px; font-size: 1.1rem; }

h1, h2, h3, h4 { font-family: var(--font-title); text-transform: uppercase; }

footer { padding: 60px; color: #888; }